@model WebSchool.Models.OrderItem

<h3>Продукт добавлен!</h3>
<div class="row">
    <div class="col-md-3">
        <h2>Order ID:</h2>
        <ul>
                <li>@Model.OrderId</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Product ID:</h2>
        <ul>
            <li>@Model.ProductId</li>
        </ul>
    </div>

</div>
